@import '~bootstrap/scss/bootstrap';

.my-with{

    width: 60px;
}

.my-with-a{

    width: 140px;
}
.anim{

   
     animation: example 4s infinite ease-in-out ;
}    
@keyframes example {
    0% {transform:rotate(0deg)}
   
    20% {transform:rotate(0deg)}
    40% {transform:rotate(10deg)}
    60% {transform:rotate(-10deg)}
    60% {color:green}
    80% {transform:rotate(0deg)}
    100% {transform:rotate(0deg)}
    }